html {
  font-family: Verdana;
  background-color: #fcfcfc;
}

html body {
  height: unset;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

main {
  max-width: 1024px;
  margin: auto;
}

label,
input,
.input {
  margin: .75rem .5rem;
}

input[type="text"] {
  min-width: 20rem;
}

.yoti-logo-container {
  width: 10vw;
  height: 10vh;
  position: relative !important;
}

.yoti-logo-container .image {
  width: 100%;
  height: 100%;
  position: auto !important;
}

.survey-link {
  font-size: 1rem;
  text-decoration: none;
  color: green;
  font-weight: 600;
}

.section-container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: center;
  padding-bottom: 10vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
}

.section:not(:last-child) {
  border-bottom: 1px lightgray solid;
}

.logo {
  display: flex;
  align-self: center;
  /* width: 67%; */
  margin: auto;
  margin-bottom: 1.5rem;
}

button {
  margin-top: 20px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.veriff-description {
  display: none;
}

mati-button {
  display: block;
  margin: auto;
}

button {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms;
}

/* button#authentic-button,
button#authentic-button:active {
background-color: #15639b;
} */
/* button#authentic-button:hover,
button#authentic-button:focus {
background-color: #1c73b1;
} */
/* button#vouched-button,
button#vouched-button:active {
  background-color: #3a2ca8;
}

button#vouched-button:hover,
button#vouched-button:focus {
  background-color: #5043b5;
} */

#vouched-root {
  height: 60vh;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: linear-gradient(to right, #e1eec3, #f05053);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #d6a564;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* Page content.
The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#vouched-root.hidden {
  visibility: hidden;
}

/* On screens that are less than 700px wide,
make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px,
display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
